# Dependências
node_modules/
/.pnp
.pnp.js

# Saídas de Build e Produção
/build
/dist
/.next/
/out/

# Variáveis de Ambiente e Segredos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Cache e Arquivos Temporários
.cache/
.vite/
.eslintcache

# Testes e Relatórios de Cobertura
/coverage

# Logs de Erro e Pacotes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações de IDE e Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db